<div class="p-modal u-hide" id="modal">
  <div class="p-modal__dialog" role="dialog" aria-labelledby="modal-title" aria-describedby="modal-description">
    <header class="p-modal__header">
      <h2 class="p-modal__title" id="modal-title">Get Ubuntu Server pro tips</h2>
      <button class="p-modal__close" aria-label="Close active modal" aria-controls="modal">Close</button>
    </header>
    <form action="https://ubuntu.com/marketo/submit" method="post">
      <div class="row u-no-padding">
        <div class="col-6">
          <label for="firstName" class="mktoLabel">First name:</label>
          <input required  id="firstName" name="firstName" maxlength="255" type="text" >
          <label for="lastName" class="mktoLabel">Last name:</label>
          <input required  id="lastName" name="lastName" maxlength="255" type="text">
          <label for="company" class="mktoLabel">Company name:</label>
          <input required  id="company" name="company" maxlength="255" type="text">
        </div>
        <div class="col-6">
          <label for="title" class="mktoLabel">Job title:</label>
          <input required  id="title" name="title" maxlength="255" type="text">
          <label for="email" class="mktoLabel ">Work email:</label>
          <input required id="email" name="email" maxlength="255" type="email" pattern="^[^ ]+@[^ ]+\.[a-z]{2,26}$">
        </div>
      </div>
      <input class="mktoField" value="yes" id="CanonicalUpdatesOptIn" name="canonicalUpdatesOptIn" type="checkbox">
      <label class="mktoLabel mktoHasWidth" for="CanonicalUpdatesOptIn"><small>I would like to receive occasional news from Canonical by email.</small></label>
      <p><small>All information provided will be handled in accordance with the Canonical <a href="https://www.ubuntu.com/legal">privacy policy</a>.</small></p>
      <div class="g-recaptcha" data-sitekey="{{ CAPTCHA_API_KEY }}" style="margin: 2rem 0;"></div>
      <button type="submit" class="mktoButton p-button--positive">Download the pro tips</button>
      <input type="hidden" name="formid" class="mktoField" value="3825">
      <input type="hidden" name="Consent_to_Processing__c" value="yes" />
      <input type="hidden" aria-hidden="true" aria-label="hidden field" name="gclid" class="mktoField" id="gclid" value="" />
      <input type="hidden" name="returnURL" value="https://assets.ubuntu.com/v1/bb21c0e8-Ubuntu+Server+CLI+pro+tips+06.01.20.pdf?_ga=2.194029293.1707463146.1680603251-187335696.1680603251" aria-label="" />
    </form>
  </div>
</div>

<script>
  /**
    Toggles visibility of modal dialog.
    @param {HTMLElement} modal Modal dialog to show or hide.
  */
  function toggleModal(modal) {
    if (modal && modal.classList.contains('p-modal')) {
      modal.classList.toggle('u-hide');
    }
  }

  // Add click handler for clicks on elements with aria-controls
  var modalControls = document.querySelectorAll('a[aria-controls], .p-modal__close');
  modalControls.forEach(function(modalControl) {
    modalControl.addEventListener('click', function (event) {
      event.preventDefault();
      var targetControls = event.target.getAttribute('aria-controls');
      if (targetControls) {
        toggleModal(document.getElementById(targetControls));
      }
    });
  });

  // recaptcha submitCallback
  window.CaptchaCallback = function () {
      let recaptchas = [].slice.call(
        document.querySelectorAll("div[class^=g-recaptcha]")
      );
      recaptchas.forEach(function (field) {
        if (!field.hasAttribute("data-widget-id")) {
          let siteKey = field.getAttribute("data-sitekey");
          const recaptchaWidgetId = grecaptcha.render(field, {
            sitekey: siteKey,
          });
          field.setAttribute("data-widget-id", recaptchaWidgetId);
        }
      });
    };
</script>

<script src="https://www.google.com/recaptcha/api.js?onload=CaptchaCallback&render=explicit" defer></script>
