<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %} - Orchestrates virtual Ubuntu instances</title>
    <meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">

    <link rel="icon" type="image/png" href="https://assets.ubuntu.com/v1/a12a3159-Multipass-favicon_32px.png" sizes="32x32" />
    <link rel="icon" type="image/png" href="https://assets.ubuntu.com/v1/f1262535-Multipass-favicon_64px.png" sizes="64x64" />
    <link rel="icon" type="image/png" href="https://assets.ubuntu.com/v1/b9411b66-Multipass-favicon_128px.png" sizes="128x128" />
    <link rel="stylesheet" href="{{ "css/main.css" | prepend: site.baseurl }}">
    <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
    <script src="/js/installversion.js" defer></script>
    <script src="/js/osselector.js" defer></script>
    <script src="/js/copytoclipboard.js" defer></script>
</head>
