@mixin multipass-p-card {
  .p-card--selection {
    @extend %vf-card;
    @extend %vf-is-bordered;
    background-color: transparent;
    border-color: transparent;

    &:hover {
      border-color: $color-mid-light;
    }

    &[aria-selected='true'] {
      background-color: $color-x-light;
      border-color: $color-mid-light;
    }
  }
}
