<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>{% block title %}Multipass orchestrates virtual Ubuntu instances{% endblock %}</title>
  <meta name="description" content="It's a system that orchestrates the creation, management and maintenance of virtual machines and associated Ubuntu images to simplify development.">

  <link rel="icon" type="image/png" href="https://assets.ubuntu.com/v1/a12a3159-Multipass-favicon_32px.png" sizes="32x32" />
  <link rel="icon" type="image/png" href="https://assets.ubuntu.com/v1/f1262535-Multipass-favicon_64px.png" sizes="64x64" />
  <link rel="icon" type="image/png" href="https://assets.ubuntu.com/v1/b9411b66-Multipass-favicon_128px.png" sizes="128x128" />

  <!-- Google Tag Manager -->
  <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
  new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
  j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
  'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
  })(window,document,'script','dataLayer','GTM-WTCRZD7');</script>
  <!-- End Google Tag Manager -->

  <link rel="stylesheet" href="/static/css/main.css">

  <script src="/static/js/osselector.js" defer></script>
</head>

<body>
  <!-- Google Tag Manager (noscript) -->
  <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-WTCRZD7"
  height="0" width="0" style="display: none; visibility: hidden;"></iframe></noscript>
  <!-- End Google Tag Manager (noscript) -->

<script async defer src="https://buttons.github.io/buttons.js"></script>


  <header id="navigation" class="p-navigation">
    <div class="p-navigation__row">
      <div class="p-navigation__banner">
        <div class="p-navigation__logo u-vertically-center">
          <a class="p-navigation__link" href="/" style="color: white;">
           Multipass
          </a>
        </div>
        <a href="#navigation" class="p-navigation__toggle--open" title="menu">Menu</a>
        <a href="#navigation-closed" class="p-navigation__toggle--close" title="close menu">Close menu</a>
      </div>
      <nav class="p-navigation__nav" role="menubar">
        <span class="u-off-screen">
          <a href="#main-content">Jump to main content</a>
        </span>
        <ul class="p-navigation__links" role="menu">
          <li class="p-navigation__link {% if '/docs' in request.path %}is-selected{% endif %}" role="menuitem">
            <a href="/docs">Docs</a>
          </li>
          <li class="p-navigation__link" role="menuitem">
            <a href="https://discourse.ubuntu.com/c/multipass" class="p-link--external">Discourse</a>
          </li>
        </ul>
        <div class="p-github-buttons">
          {% include "/partial/_github-buttons.html" %}
        </div>
      </nav>
    </div>
  </header>

  <div class="page-content" id="main-content">
    {% block content %}{% endblock %}
  </div>

  <footer class="p-strip">
    <div class="row">
      <div class="col-12">
        &copy; {{ now('%Y') }} Canonical Ltd.
        <nav>
          <ul class="p-inline-list--middot">
            <li class="p-inline-list__item">
              <a
                aria-label="External link to the Ubuntu legal information page"
                href="http://www.ubuntu.com/legal">
                Legal information
              </a>
            </li>
            <li class="p-inline-list__item">
              <a class="js-revoke-cookie-manager" href="">Manage your tracker settings</a>
            </li>
            <li class="p-inline-list__item">
              <a
                href="https://github.com/canonical/multipass/issues/new">
                Report a bug on Multipass itself
              </a>
            </li>
            <li class="p-inline-list__item">
              <a
                aria-label="External link to report a bug on this site"
                href="https://github.com/canonical-web-and-design/multipass.run/issues/new">
                Report a bug on this site
              </a>
            </li>
          </ul>
          <span class="u-off-screen">
            <a href="#">Go to the top of the page</a>
          </span>
        </nav>
      </div>
    </div>
  </footer>

  <script src="/static/js/modules/global-nav.js"></script>
  <script src="/static/js/modules/cookie-policy.js"></script>
  <script>
    cpNs.cookiePolicy();
    canonicalGlobalNav.createNav({maxWidth:"72rem"});
  </script>
</body>

</html>
