{% extends "_layouts/default.html" %}

{% block content %}
<section class="p-strip--suru">
  <div class="row">
    <div class="col-6">
      <h1>Ubuntu VMs on demand for any workstation</h1>
      <p>Get an instant Ubuntu VM with a single command.  Multipass can launch and run virtual machines and configure them with <a href="https://cloud-init.io/" class="p-link--external p-link--inverted">cloud-init</a> like a public cloud. Prototype your cloud launches locally for free.</p>
    </div>
    <div class="col-6 u-hide--small u-align--center u-vertically-center">
      <img src="https://assets.ubuntu.com/v1/0698ab2d-muiltipass-promo-header.png" style="height: 200px; width: 364px;" alt="Multipass"/>
    </div>
  </div>
</section>

<section class="p-strip u-no-padding--bottom" id="install">
  <div class="u-fixed-width u-sv3">
    <h2>Select OS to get started</h2>
  </div>
   <div class="row u-equal-height u-sv3">
      <a id="tab-one" href="#tab-one__content"
        class="col-small-2 col-medium-2 col-4 p-card p-tab u-align--center u-vertically-center js-tab active" role="tab" aria-selected="true">
        <img src="https://assets.ubuntu.com/v1/53c3be42-linuc-logo.svg" style="height: 90px; margin-top: 1rem;" alt="">
        <p class="p-heading--four" class="p-heading--five p-tab__title">Linux</p>
      </a>

      <a id="tab-two" href="#tab-two__content"
        class="col-small-2 col-medium-2 col-4 p-card p-tab u-align--center u-vertically-center js-tab" role="tab" aria-selected="false">
        <img src="https://assets.ubuntu.com/v1/11ecbd2d-2018-logo-windows.svg" style="height: 145px;" alt="Windows">
      </a>

      <a id="tab-three" href="#tab-three__content"
        class="col-small-2 col-medium-2 col-4 p-card p-tab u-align--center u-vertically-center js-tab" role="tab" aria-selected="false">
        <img src="https://assets.ubuntu.com/v1/236f314d-macos.svg" style="height: 145px;" alt="macOS">
      </a>
   </div>

   <div class="row">
     <div class="col-8 js-tab__content" id="tab-one__content" role="tabpanel" aria-labelledby="tab-one">
       {% include "/partial/_get-started-linux.html" %}
     </div>
     <div class="col-8 js-tab__content" id="tab-two__content" role="tabpanel" aria-labelledby="tab-two">
       {% include "/partial/_get-started-windows.html" %}
     </div>
     <div class="col-8 js-tab__content" id="tab-three__content" role="tabpanel" aria-labelledby="tab-three">
       {% include "/partial/_get-started-macos.html" %}
     </div>
   </div>
</section>

<section class="p-strip">
  <div class="u-fixed-width u-align--center">
    <script id="asciicast-394119" src="https://asciinema.org/a/394119.js?" async data-t="08" data-autoplay="true" data-speed="1.5"></script>
  </div>
</section>

<section class="p-strip--suru-accent">
  <div class="row u-equal-height u-vertically-center">
    <div class="col-6 u-align--center u-hide--small">
      <a aria-controls="modal" href="https://assets.ubuntu.com/v1/f401c3f4-Ubuntu_Server_CLI_pro_tips_2020-04.pdf" aria-hidden="true" tabindex="-1">
        <img src="https://assets.ubuntu.com/v1/39a8dac8-Ubuntu_Server_CLI_pro_tips_2020-04.jpg" style="width: 350px;" alt="Ubuntu Server CLI pro tips"/>
      </a>
    </div>
    <div class="col-6">
      <p>The &rdquo;Ubuntu Server CLI cheat sheet&ldquo; is your fast path to learning the Linux command line - from basic file management to deploying Kubernetes and OpenStack.</p>
      <a class="p-button--positive" aria-controls="modal" href="https://assets.ubuntu.com/v1/f401c3f4-Ubuntu_Server_CLI_pro_tips_2020-04.pdf">Download Cheat Sheet</a>
    </div>
  </div>
</section>

{% include "/shared/forms/ubuntu-server-pro-tips.html" %}

<section class="p-strip">
  <div class="u-fixed-width">
    <blockquote class="p-pull-quote--large">
      <p class="p-pull-quote__quote">Multipass provides a command line interface to launch, manage and generally fiddle about with instances of Linux. The downloading of a minty-fresh image takes a matter of seconds, and within minutes a VM can be up and running.</p>
      <cite class="p-pull-quote__citation">The Register</cite>
    </blockquote>
  </div>
</section>


<section class="p-strip--light">
  <div class="row u-equal-height u-vertically-center">
    <div class="col-5 u-align--center u-hide--small">
      <img src="https://assets.ubuntu.com/v1/3328b4a0-Cloud-VMs.svg" style="width: 400px;"/>
    </div>
    <div class="col-7">
      <h2>Cloud-style VMs on-demand</h2>
      <p class="p-heading--4">Spin up cloud instances with a single command</p>
      <p>Launch instances of Ubuntu and initialise them with cloud-init metadata like AWS, Azure, Google, IBM and Oracle clouds. Simulate your own cloud deployment on your workstation.</p>
    </div>
  </div>
</section>

<section class="p-strip">
  <div class="row u-equal-height u-vertically-center">
    <div class="col-7">
      <h2>VMs for Windows, macOS and Linux</h2>
      <p class="p-heading--4">Start Ubuntu VMs with each platform’s native hypervisor</p>
      <p>Multipass uses Hyper-V on Windows, HyperKit on macOS and KVM on Linux for minimal overhead and the fastest possible start time.</p>
    </div>
    <div class="col-5 u-hide--small u-align--center">
      <img src="https://assets.ubuntu.com/v1/c5602a1a-VMs-Windows-Linux-Mac.svg" style="height: 171px; width: 300px;"/>
    </div>
  </div>
</section>

<section class="p-strip--light">
  <div class="row u-equal-height u-vertically-center">
    <div class="col-5 u-align--center u-hide--small">
      <img src="https://assets.ubuntu.com/v1/bacfcec8-cloud-init-logo-updated.svg" alt="cloud-init" style="height: 120px; width: 400px;"/>
    </div>
    <div class="col-7">
      <h2>Optimised VM performance</h2>
      <p class="p-heading--4">VMs tuned for out-of-the-box performance</p>
      <p>Multipass VMs use images tuned for cloud usage. Software baked in with all the tools to deploy a cloud.
      </p>
      <p>Most notably cloud-init, a tool with utilities to initialise cloud instances. Pass multipass a custom cloud-init definition and turn a generic Ubuntu image into a custom-configured server in seconds.
      </p>
      <a href="https://cloud-init.io/" class="p-button--neutral p-link--external">Learn more about cloud-init</a>
    </div>
  </div>
</section>

<section class="p-strip">
  <div class="row u-equal-height u-vertically-center">
    <div class="col-7">
      <h2>Designed for developer convenience</h2>
      <p class="p-heading--4">VMs you can trust with access to what you need</p>
      <p>Share files and folders between your host and your instances.</p>
      <p>Your ‘primary’ instance gets special treatment with integration to your native filesystem and dedicated hot-key access.</p>
      <p>Multipass automatically fetches the latest Ubuntu images from Canonical, minimising initial update time.</p>
    </div>
    <div class="col-5 u-align--center u-hide--small">
      <img src="https://assets.ubuntu.com/v1/efe71794-Developer-convenience-1.svg" style="height: 211px; width: 370px;"/>
    </div>
  </div>
</section>

<section class="p-strip--light">
  <div class="row u-equal-height u-vertically-center">
    <div class="col-5 u-align--center u-hide--small">
      <img src="https://assets.ubuntu.com/v1/33d66ec7-Image-catalogue.svg" style="height: 171px; width: 300px;"/>
    </div>
    <div class="col-7">
      <h2>A curated catalogue of images</h2>
      <p class="p-heading--4">Images with apps built-in one command away</p>
      <p>Multipass is growing a catalogue of images to initialise pre-installed applications to get started with a single command.</p>
      <a href="https://discourse.ubuntu.com/c/multipass/21" class="p-button--neutral p-link--external">Talk to us about your project</a>
    </div>
  </div>
</section>

<section class="p-strip">
  <div class="row u-equal-height u-vertically-center">
    <div class="col-7">
      <h2>Appliances in VMs</h2>
      <p class="p-heading--4">Ubuntu Appliance images to try before you Pi</p>
      <p>Run a Virtual Ubuntu Appliance on your workstation without affecting your existing system. No need for spare hardware, just follow the steps and you’ll be up and running in minutes.</p>
      <a href="https://ubuntu.com/appliance/vm" class="p-button--neutral p-link--external">Try Ubuntu Appliances</a>
    </div>
    <div class="col-5 u-align--center u-hide--small">
      <img src="https://assets.ubuntu.com/v1/9c8d314f-what-is-an-appiance-header.svg" style="height: 246px; width: 300px;"/>
    </div>
  </div>
</section>

<section class="p-strip--light is-bordered">
  <div class="row u-equal-height u-vertically-center">
    <div class="col-5 u-hide--small u-align--center">
      <img src="https://assets.ubuntu.com/v1/5552afb7-community-support.svg" style="height: 220px; width: 220px;"/>
    </div>
    <div class="col-7">
      <h2>Join our community</h2>
      <p>Multipass is built by a team of engineers at Canonical and a community of contributors. We appreciate your interest in Multipass, and if you want to join the discussion or contribute, come and say hi. We don’t bite. </p>
      <a href="https://web.libera.chat/?channels=#multipass" class="p-button--neutral p-link--external">Libera Chat</a>
      <a href="https://github.com/canonical/multipass" class="p-button--neutral p-link--external">GitHub</a>
      <a href="https://discourse.ubuntu.com/c/multipass/21" class="p-button--neutral p-link--external">Discourse</a>
    </div>
  </div>
</section>

{% endblock content %}
