{% extends "_layouts/default.html" %}

{% block meta_description %}Multipass is a CLI to launch and manage VMs on Windows, Mac and Linux that simulates a cloud environment with support for cloud-init. Get Ubuntu on-demand with clean integration to your IDE and version control on your native platform.{% endblock meta_description %}

{% block meta_copydoc %}https://docs.google.com/document/d/1uI5hsuhe5VUpFSSiQas6FVB2F7RhlbNXcr5Pvr_Lm2c/edit#{% endblock %}

{% block content %}
<section class="p-strip--suru is-dark">
  <div class="row">
    <div class="col-6">
      <h1>Ubuntu VMs on demand for any workstation</h1>
      <p>Get an instant Ubuntu VM with a single command. Multipass can launch and run virtual machines and configure them with <a href="https://cloud-init.io/" class="p-link--inverted">cloud-init</a> like a public cloud.</p>
      <p class="p-github-buttons">
        <a href="/install" class="p-button--positive">Install now</a>
        <span>
          <a class="github-button" data-size="large" href="https://github.com/canonical/multipass" aria-label="Follow @canonical on GitHub"></a>
          <a class="github-button" data-size="large" href="https://github.com/canonical/multipass" data-icon="octicon-star" data-show-count="true" aria-label="Star canonical/multipass on GitHub"></a>
          <a class="github-button" data-size="large" href="https://github.com/canonical/multipass/fork" data-icon="octicon-repo-forked" data-show-count="true" aria-label="Fork canonical/multipass on GitHub"></a>
        </span>
      </p>
    </div>
    <div class="col-6 u-hide--small u-hide--medium u-align--center u-vertically-center">
      <img src="https://assets.ubuntu.com/v1/0698ab2d-muiltipass-promo-header.png" style="height: 200px; width: 364px;" alt="Multipass"/>
    </div>
  </div>
</section>

<section class="p-strip">
  <div class="row u-equal-height u-vertically-center">
    <div class="col-5 u-align--center u-hide--small u-hide--medium">
      <img src="https://assets.ubuntu.com/v1/3328b4a0-Cloud-VMs.svg" style="width: 400px;" alt=""/>
    </div>
    <div class="col-7">
      <h2>Cloud-style VMs at your fingertips</h2>
      <p class="p-heading--4">Spin up cloud instances with a single command</p>
      <p>Launch instances of Ubuntu and <a href="https://ubuntu.com/blog/using-cloud-init-with-multipass">initialise them with cloud-init metadata</a> in the same way you would on AWS, Azure, Google, IBM and Oracle. Simulate your own cloud deployment on your workstation.</p>
    </div>
  </div>
</section>

<section class="p-strip--light">
  <div class="row u-equal-height u-vertically-center">
    <div class="col-7">
      <h3>VMs for Windows, macOS and Linux</h3>
      <p class="p-heading--4">Start Ubuntu VMs with each platform's native hypervisor</p>
      <p>Multipass uses Hyper-V on Windows, and QEMU on macOS and Linux for minimal overhead and the fastest possible start
        time. <a href="/docs/set-up-the-driver">Switching your hypervisor to Virtualbox</a> is a breeze.</p>
    </div>
    <div class="col-5 u-hide--small u-hide--medium u-align--center">
      <img src="https://assets.ubuntu.com/v1/c5602a1a-VMs-Windows-Linux-Mac.svg" style="height: 171px; width: 300px;" alt=""/>
    </div>
  </div>
</section>

<section class="p-strip--suru-accent">
  <div class="row u-equal-height u-vertically-center">
    <div class="col-6 u-align--center u-hide--small">
      <img src="https://assets.ubuntu.com/v1/639c1f12-server-cli-cheatsheet.png" style="height: 280px; width: 400px;" alt="Ubuntu Server CLI cheat sheet"/>
    </div>
    <div class="col-6">
      <h2>Get started with Ubuntu the fast way</h2>
      <p>The “Ubuntu Server CLI cheat sheet” is your fast path to learning the Linux command line - from basic file management to deploying Kubernetes and OpenStack.</p>
      <a class="p-button--positive" aria-controls="modal" target="blank" href="https://assets.ubuntu.com/v1/639c1f12-server-cli-cheatsheet.png">Download Cheat Sheet</a>
    </div>
  </div>
</section>

{% include "/shared/forms/ubuntu-server-pro-tips.html" %}

<section class="p-strip">
  <div class="row u-equal-height u-vertically-center">
    <div class="col-5 u-align--center  u-hide--medium">
      <img src="https://assets.ubuntu.com/v1/bacfcec8-cloud-init-logo-updated.svg" alt="cloud-init" style="height: 120px; width: 400px;"/>
    </div>
    <div class="col-7">
      <h2>Optimised VM performance</h2>
      <p class="p-heading--4">VMs tuned for out-of-the-box performance</p>
      <p>Multipass uses images tuned for cloud usage. Each image has software baked in with all the tools to deploy a cloud.</p>
      <p>Most notably cloud-init, a tool with utilities to initialise cloud instances. Pass multipass a custom cloud-init definition and turn a generic Ubuntu image into a custom-configured server in seconds.</p>
      <a href="https://cloud-init.io/" class="p-button">Learn more about cloud-init</a>
    </div>
  </div>
</section>

<section class="p-strip--light">
  <div class="row u-equal-height u-vertically-center">
    <div class="col-7">
      <h2>Designed for developer convenience</h2>
      <p class="p-heading--4">VMs you can trust with access to what you need</p>
      <p>Share files and folders between your host and your instances.</p>
      <p>Your ‘primary’ instance gets special treatment with integration to your native filesystem and dedicated hot-key access.</p>
      <p>Multipass automatically fetches the latest Ubuntu images from Canonical, minimising initial update time.</p>
    </div>
    <div class="col-5 u-align--center u-hide--small u-hide--medium">
      <img src="https://assets.ubuntu.com/v1/efe71794-Developer-convenience-1.svg" style="height: 211px; width: 370px;" alt=""/>
    </div>
  </div>
</section>

<section class="p-strip">
  <div class="row u-equal-height u-vertically-center">
    <div class="col-5 u-align--center u-hide--small u-hide--medium">
      <img src="https://assets.ubuntu.com/v1/33d66ec7-Image-catalogue.svg" style="height: 171px; width: 300px;" alt=""/>
    </div>
    <div class="col-7">
      <h2>A curated catalogue of images</h2>
      <p class="p-heading--4">Images with built-in apps are one command away</p>
      <p>Multipass is growing a catalogue of images to initialise pre-installed applications to get started with a single command. Want to integrate your project?</p>
      <a href="https://discourse.ubuntu.com/c/multipass/21" class="p-button">Talk to us</a>
    </div>
  </div>
</section>

<section class="p-strip--light">
  <div class="row u-equal-height u-vertically-center">
    <div class="col-7">
      <h2>Appliances in VMs</h2>
      <p class="p-heading--4">Ubuntu Appliance images to try before you Pi</p>
      <p>Run a Virtual Ubuntu Appliance on your workstation without affecting your existing system. No need for spare hardware, just follow the steps and you’ll be up and running in minutes.</p>
      <a href="https://ubuntu.com/appliance/vm" class="p-button">Try Ubuntu Appliances</a>
    </div>
    <div class="col-5 u-align--center u-hide--small u-hide--medium">
      <img src="https://assets.ubuntu.com/v1/9c8d314f-what-is-an-appiance-header.svg" style="height: 246px; width: 300px;" alt=""/>
    </div>
  </div>
</section>

<section class="p-strip is-bordered">
  <div class="row u-equal-height u-vertically-center">
    <div class="col-5 u-hide--small u-hide--medium u-align--center">
      <img src="https://assets.ubuntu.com/v1/5552afb7-community-support.svg" style="height: 220px; width: 220px;" alt=""/>
    </div>
    <div class="col-7">
      <h2>Join our community</h2>
      <p>Multipass is built by a team of engineers at Canonical and a community of contributors. We appreciate your interest in Multipass, and if you want to join the discussion or contribute, come and say hi. We don’t bite.</p>
      <a href="https://github.com/canonical/multipass" class="p-button">GitHub</a>
      <a href="https://discourse.ubuntu.com/c/multipass/21" class="p-button">Discourse</a>
    </div>
  </div>
</section>

{% endblock content %}
