{% extends "_layouts/default.html" %}

{% block meta_description %}Install the most streamlined linux VM management tool on Windows, Mac, or Linux. Multipass can create virtual machines in just seconds, and gives you the tools to run a local microcloud on your workstation.{% endblock meta_description %}

{% block meta_copydoc %}https://docs.google.com/document/d/1s_chvwjm3YaGQSmD_StXAwXElh9rsp-BBeFJWk0F7lk/edit{% endblock %}

{% block content %}
<section class="p-strip--suru">
  <div class="row">
    <div class="col-6">
      <h1>Install Multipass</h1>
      <p>Get an instant Ubuntu VM with a single command. Multipass can launch and run virtual machines and configure them with <a href="https://cloud-init.io/" class="p-link--inverted">cloud-init</a> like a public cloud. Prototype your cloud launches locally for free.</p>
    </div>
    <div class="col-6 u-hide--small u-hide--medium u-align--center u-vertically-center">
      <img src="https://assets.ubuntu.com/v1/0698ab2d-muiltipass-promo-header.png" style="height: 200px; width: 364px;" alt="Multipass logo"/>
    </div>
  </div>
</section>

<section class="p-strip">
  <div class="u-fixed-width u-sv3">
    <h2>Select OS to get started</h2>
  </div>
  <div class="row u-equal-height u-sv3">
    <a id="tab-one" href="#tab-one__content" class="col-small-2 col-medium-2 col-4 p-card p-tab u-align--center u-vertically-center js-tab active" role="tab" aria-selected="true">
      <img src="https://assets.ubuntu.com/v1/53c3be42-linuc-logo.svg" style="height: 90px; margin-top: 1rem;" alt="">
      <p class="p-heading--5 p-tab__title">Linux</p>
    </a>

    <a id="tab-two" href="#tab-two__content" class="col-small-2 col-medium-2 col-4 p-card p-tab u-align--center u-vertically-center js-tab" role="tab" aria-selected="false">
      <img src="https://assets.ubuntu.com/v1/11ecbd2d-2018-logo-windows.svg" style="height: 145px;" alt="Windows">
    </a>

    <a id="tab-three" href="#tab-three__content" class="col-small-2 col-medium-2 col-4 p-card p-tab u-align--center u-vertically-center js-tab" role="tab" aria-selected="false">
      <img src="https://assets.ubuntu.com/v1/236f314d-macos.svg" style="height: 145px;" alt="macOS">
    </a>
   </div>

   <div class="row">
     <div class="col-8 js-tab__content" id="tab-one__content" role="tabpanel" aria-labelledby="tab-one">
       {% include "/partial/_get-started-linux.html" %}
     </div>
     <div class="col-8 js-tab__content" id="tab-two__content" role="tabpanel" aria-labelledby="tab-two">
       {% include "/partial/_get-started-windows.html" %}
     </div>
     <div class="col-8 js-tab__content" id="tab-three__content" role="tabpanel" aria-labelledby="tab-three">
       {% include "/partial/_get-started-macos.html" %}
     </div>
   </div>
</section>
<section>
  <div class="u-fixed-width">
    {% include "/partial/_launch-lts-instances.html" %}
  </div>
</section>
<section class="p-strip">
  <div class="u-fixed-width">
    <h2 class="u-sv2">Check out some of the things you can do with Multipass below</h2>
  </div>
  <div class="u-fixed-width u-align--center">
    <script id="asciicast-394119" src="https://asciinema.org/a/394119.js?" async data-t="08" data-autoplay="true" data-speed="1.5"></script>
  </div>
</section>

{% endblock content %}
