<ol class="p-stepped-list u-no-margin--left">
  <li class="p-stepped-list__item">
    <h3 class="p-stepped-list__title">
      Install Multipass on Windows
    </h3>
    <div class="p-stepped-list__content">
      <p>
        <a class="p-button--neutral" href="/download/windows" data-os="win-win">Download Multipass for Windows</a>
      </p>
      <p><small><i>Note: You need Windows 10 Pro/Enterprise/Education v 1803 or later, or any Windows 10 with VirtualBox</i></small></p>
      <p>Make sure your network is private or Windows prevents Multipass from starting.</p>
      <p>Run the installer. You need to allow the installer to gain Administrator privileges.</p>
    </div>
  </li>
  {% include "/partial/_launch-lts-instances.html" %}
</ol>
