<ol class="p-stepped-list u-no-margin--left">
  <li class="p-stepped-list__item">
    <h3 class="p-stepped-list__title">
      Install Multipass on Linux
    </h3>
    <div class="p-stepped-list__content">
      <div class="p-code-snippet">
        <pre class="p-code-snippet__block--icon"><code>sudo snap install multipass</code></pre>
      </div>
      <p>Don’t have the <code>snap</code> command? <a href="https://docs.snapcraft.io/installing-snapd" class="p-link--external">Get set up for snaps</a></p>
    </div>
  </li>
  {% include "/partial/_launch-lts-instances.html" %}
</ol>
