<h2 class="u-sv3">Install Multipass on Windows</h2>
<ol class="p-stepped-list u-no-margin--left">
  <li class="p-stepped-list__item">
    <h3 class="p-stepped-list__title"><a href="/download/windows">Download Multipass for Windows</a></h3>
    <div class="p-stepped-list__content">
      <p><small><i>Note: You need Windows 10 Pro/Enterprise/Education v 1803 or later, or any Windows 10 with VirtualBox</i></small></p>
    </div>
  </li>
  <li class="p-stepped-list__item">
    <h3 class="p-stepped-list__title">Ensure your network is private</h3>
    <div class="p-stepped-list__content">
      <p>Make sure your local network is designated as private, otherwise Windows prevents Multipass from starting.</p>
    </div>
  </li>
  <li class="p-stepped-list__item">
    <h3 class="p-stepped-list__title">Run the installer</h3>
    <div class="p-stepped-list__content">
      <p>You need to allow the installer to gain Administrator privileges.</p>
    </div>
  </li>
</ol>
