<ol class="p-stepped-list u-no-margin--left">
  <li class="p-stepped-list__item">
    <h3 class="p-stepped-list__title">
      Install Multipass on MacOS
    </h3>
    <div class="p-stepped-list__content">
      <p>
        <a class="p-button--neutral" href="/download/macos" data-os="mac">Download Multipass for MacOS</a>
      </p>
      <p>Run the installer in an account with Administrator privileges.</p>
      <p>If you'd like to use Multipass with VirtualBox use this terminal command:</p>
      <div class="p-code-snippet">
        <pre class="p-code-snippet__block--icon"><code>sudo multipass set local.driver=virtualbox</code></pre>
      </div>
    </div>
  </li>
  {% include "/partial/_launch-lts-instances.html" %}
</ol>


