<h2 class="u-sv3">Install Multipass on MacOS</h2>
<ol class="p-stepped-list u-no-margin--left">
  <li class="p-stepped-list__item">
    <h3 class="p-stepped-list__title"><a href="/download/macos">Download Multipass for MacOS</a></h3>
    <div class="p-stepped-list__content">
      <p>Alternatively, see our <a href="/docs/installing-on-macos">documentation</a> for instructions to install with brew.</p>
    </div>
  </li>
  <li class="p-stepped-list__item">
    <h3 class="p-stepped-list__title">Run the installer</h3>
    <div class="p-stepped-list__content">
      <p>You will need to run the installer in an account with administrator privileges.</p>
    </div>
  </li>
</ol>


